@model PlayerMatcher.Game

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Game_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Game_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Max_Player_Count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Max_Player_Count)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Game_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
